
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Hardware-inventeazaro</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="assets/css/bootstrap-editable.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/green.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Bootstrap theme -->

    <!-- Custom styles for this template -->
    <link href="assets/css/theme.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    
<!-- Fixed navbar  -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Hardware-inventeazaro</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- you can exclude pages using {{#isnt}} helper: {{#isnt data.title 'Blog'}} -->
        
        <li class="active">
          <a href="dashboard.html">Dashboard</a>
        </li>
        
        <li>
          <a href="index.html">Home</a>
        </li>
        
        <li>
          <a href="login.html">Login</a>
        </li>
        
        <li>
          <a href="profile.html">Profile</a>
        </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Github <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">About</a></li>
            <li><a href="#">F.A.Q</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Plugins</li>

          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


    <div class="container  theme-showcase" role="main">
     


  <div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

    <!-- Sidebar -

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a href="#" ng-click="toggleSidebar()">Dashboard<span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#">Dashboard <span class="menu-icon glyphicon glyphicon-edit"> </span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Servers <span class="menu-icon glyphicon glyphicon-edit"> </span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Settings <span class="menu-icon glyphicon glyphicon-edit"> </span></a>
        </li>
        <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
        <li class="sidebar-list">
          <a href="#" target="_blank">Forums <span class="menu-icon glyphicon glyphicon-edit"> </span></a>
        </li>
      </ul>

      </div>
    </div>

     End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->

        <div class="row header">
          <div class="col-xs-12">
            <div class="meta pull-left">
              <div class="page">
                Dashboard
              </div>

            </div>
            <div class="user pull-right">
              <div class="item dropdown">
                <a href="#" class="dropdown-toggle">
                  <img src="img/avatar.jpg" id="gravatar">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Joe Bloggs
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown">
               <a href="#" class="dropdown-toggle">
                  <i class="glyphicon glyphicon-edit"> </i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
          <div class="col-xs-12">
            <alert data-ng-repeat="alert in alerts" type="" close="closeAlert($index)"></alert>
          </div>
        </div>

          <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon red pull-left">
                    <i class="glyphicon glyphicon-heart"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div name="pulse" class="title">...</div>
                    <div class="comment">Pulse</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon orange pull-left">
                    <i class="glyphicon glyphicon-star"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div  name="temperature" class="title">...</div>
                    <div class="comment">Temperature</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon blue pull-left">
                    <i class="glyphicon glyphicon-tint"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div name="ambient_humidity"class="title">...</div>
                    <div class="comment">Ambient Humidity</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon green pull-left">
                    <i class="glyphicon glyphicon-record"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div name="ambient_air_quality" class="title">...</div>
                    <div class="comment">Air Quality</div>
                  </div>
                 <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
            </div>

   <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon brown pull-left">
                    <i class="glyphicon glyphicon-warning-sign"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div name="blood_sugar" class="title">...</div>
                    <div class="comment">Sugar level </div>
                  </div>
                 <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon brown pull-left">
                    <i class="glyphicon glyphicon-cloud"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div name="ambient_temperature" class="title">...</div>
                    <div class="comment">Ambient Temp.</div>
                  </div>
                 <div class="clearfix"></div>
                </div>
              </div>
            </div>
        
          <div class="row">
            <div class="col-lg-12">
              <div class="widget">
                <div class="widget-title">
                  <i class="glyphicon glyphicon-edit"> </i> Pulse History
                  <div class="clearfix"></div>
                </div>
                <div class="widget-body">

                  <div class="message" id="pulse-history">
                  </div>

                  <hr />

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="widget">
                <div class="widget-title">
                  <i class="glyphicon glyphicon-floppy-disk"> </i>History Diagnostics
                  <a href="#" class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#modal">It hurts</a>
                </div>
                <div class="widget-body medium no-padding">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr><td>Cold </td><td>3 days ago</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="widget">
                <div class="widget-title">
                  <i class="glyphicon glyphicon-thumbs-up"> </i> Sugestions
                  <input type="text" placeholder="Search" class="form-control input-sm pull-right" />
                  <div class="clearfix"></div>
                </div>
                <div class="widget-body medium no-padding">
                  <div class="table-responsive">
                    <table class="table sg">
                      <thead>
                        <tr><th class="text-center">ID</th><th>Sugestion</th></tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- End Main Content -->

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Question</h4>
      </div>
      <div class="modal-body">
      <h3>Troubleshoot</h3>
      <select class="form-control">
        <optgroup label="Parts">
          <option value="arm"> </option>
          <option value="eye"> </option>
          <option value="eyebrow"> </option>
          <option value="belly"> </option>
          <option value="leg"> </option>
          <option value="breast"> </option>
          <option value="thumb"> </option>
          <option value="elbow"> </option>
          <option value="fist"> </option>
          <option value="finger"> </option>
          <option value="foot "> </option>
          <option value="ankle"> </option>
          <option value="buttocks"> </option>
          <option value="hair"> </option>
          <option value="neck"> </option>
          <option value="hand"> </option>
          <option value="wrist"> </option>
          <option value="hip"> </option>
          <option value="chin"> </option>
          <option value="knee"> </option>
          <option value="head"> </option>
          <option value="lip"> </option>
          <option value="mouth"> </option>
          <option value="nose"> </option>
          <option value="nostril"> </option>
          <option value="upper am"> </option>
          <option value="thigh"> </option>
          <option value="ear"> </option>
          <option value="bottom"> </option>
          <option value="back"> </option>
          <option value="underarm"> </option>
          <option value="lower leg"> </option>
          <option value="shoulder"> </option>
          <option value="forehead"> </option>
          <option value="waist"> </option>
          <option value="calf"> </option>
          <option value="cheek"> </option>
          <option value="eyelash"> </option>
          <option value="tooth"> </option>
          <option value="toe"> </option>

        </optgroup>
      </select>
     <br />
     <label class="checkbox-inline">
          <input type="checkbox" value="">You are coughing up a lot of blood
     </label>
    <br />
    <label class="checkbox-inline">
         <input type="checkbox" value="">You have chest pain
    </label>
    <br />
   <label class="checkbox-inline">
        <input type="checkbox" value="">You are short of breath (you can't get enough air)
   </label>
   <p>How you feel ?</p>
   <ul class="rank">
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_0" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_0" /><span>I am not sick or I am in no pain</span></label></li>
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_1" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_1" /><span>I feel a little bit sick or I have a little bit of pain</span></label></li>
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_2" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_2" /><span>I feel a little sick or I am in little pain</span></label></li>
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_3" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_3" /><span>I feel somewhat sick or I am in somewhat pain, but I am ok</span></label></li>
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_4" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_4" /><span>I feel sick or I have pain, but I can still ignore it</span></label></li>
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_5" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_5" /><span>I feel sick or I have pain and I can&#39;t ignore it anymore</span></label></li>
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_6" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_6" /><span>I feel so sick or I am in so much pain that I would stay home</span></label></li>
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_7" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_7" /><span>I feel very sick or I am in much pain. Sleeping and concentrating are difficult.</span></label></li>
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_8" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_8" /><span>I am really sick or I am in very much pain. Moving and talking are difficult.</span><em class="alert next"><strong>You indicated that you are very sick. Call the doctor, or change the answer if you are not quite this sick.</strong> <a class="alert next">I understand, next step</a>.</em></label></li>
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_9" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_9" /><span>I feel severely sick or I moan because of the pain</span><em class="alert next"><strong>You indicated that you are very sick. Call the doctor, or change the answer if you are not quite this sick.</strong> <a class="alert next">I understand, next step</a>.</em></label></li>
                <li><label><input id="triage_responses_how_sick_you_feel_answers__sick_10" name="triage[responses][how_sick_you_feel][answers][]" type="radio" value="sick_10" /><span>10</span><span>I feel extremely sick or I am in an extreme amount of pain. An emergency!</span><em class="alert next"><strong>You indicated that you are very sick. Call the doctor, or change the answer if you are not quite this sick.</strong> <a class="alert next">I understand, next step</a>.</em></label></li>
</ul>
   <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Diagnostice</button>
      </div>
    </div>
  </div>
</div>


    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-editable.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="js/main.js"></script>
    </body>
</html>
